<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NodeJs Map</title>
    <!--Icon-->
    <link rel="icon" type="imagem/png" href="https://img.icons8.com/ios/50/000000/world-map.png" />
    <!--Leaflet link-->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <!--Cluster-->
    <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.Default.css">
    <script src="https://unpkg.com/leaflet.markercluster@1.4.1/dist/leaflet.markercluster.js"></script>
   
    <!--Estilo do mapa-->
    <link rel="stylesheet" href="/css/main.css">
    <iframe width="600" height="420" src="https://maps.stamen.com/terrain/embed#12/37.7706/-122.3782"></iframe>
</head>
<body>

    <!--Indexando o mapa-->
    <div id="map-template"></div>
    
    <!--Scripts do mapa-->
    <script src="/js/main.js"></script>
</body>
</html>